<table class="table table-hover">
        <tr>
            <th>
            </th>
            <th>
                <span>Name</span>
            </th>
            <th>
                <span>Latent Dims</span>
            </th>
            <th>
                <span>Data Dims</span>
            </th>
            <th>
                <span>Action</span>
            </th>
        </tr>
        <tr id="result{{ result.id }}" onclick="toggle_result('result{{ result.id }}');">
            <td>
                <span id="result{{ result.id }}-toggle">▶</span>
            </td>
            <td>
                <span>{{ result.title }}</span>
            </td>
            <td>
                <span>{{ result.config['dataset']['latent_dim'] }}</span>
            </td>
            <td>
                <span>{{ result.config['dataset']['data_dim'] }}</span>
            </td>
            <td>
                <span><a href="/results/{{ result.id }}">View/Interact</a></span>
            </td>
        </tr>
    </table>
    <div id="result{{ result.id }}-content"></div>
    <div id="result{{ result.id }}-info" style="visibility:hidden;">
      <span id="result{{ result.id }}-latest-plot">{{ result.latest_plot }}</span>
    </div>
