{% extends "base.html" %}

{% block app_content %}
<h1>About this tech demo</h1>

<p>I was lacking a demonstration of my ability to deploy machine learning
models and applications to the cloud using popular Python-based web
frameworks, so this little demo is intended to fill that void.</p>

<p>ResultsExplor allows to view trained and in-training models running on
a separate dedicated training machine.</p>

<p>The "Explore" page shows an overview of each model and can be expanded
to show a visual summary of the current results.</p>

<p>On the "Explore" page there is a button, "View/Interact" that allows
to get details of a model as well as interact with it by providing
sliders for the latent space of that model.  As you move the sliders,
  the graph of the associated output is updated.</p>

<p>Because it is intended as a tech demo, I purposely used different
  frameworks for the microservice and user interface.</p>

<h2>Technologies used</h2>

<p>This demo consists of three components:</p>

<ol>
  <li>A machine learning model training and running on a dedicated host.
    <ul>
      <li>Generative adversarial models (GAN) for audio signals with
      bidirectional mapping (BiGAN, VEEGAN).</li>
      <li>Built in TensorFlow 2.1 + Keras (Python machine learning)</li>
      <li>(Update: this is no longer running live for practical reasons.)</li>
    </ul>
  </li>
  <li>A microservice reading results from this training and executing the trained models
  on demand, returning results via a JSON-based API.
    <ul>
      <li>FastAPI (Python web framework)</li>
      <li>REST framework (JSON API)</li>
      <li>AWS Lambda (deployment, free tier)</li>
      <li>TensorFlow (model execution)</li>
    </ul>
  </li>
  <li>A cloud service providing the user interface making requests to
  the microservice.
    <ul>
      <li>Flask (Python web framework)</li>
      <li>D3 (interactive plotting in Javascript)</li>
      <li>Bootstrap (darkly theme CSS)</li>
      <li>Heroku (deployment, free tier)</li>
    </ul>
  </li>
</ol>


<h2>Contact</h2>

<p>This demo is related to freelance research & development services
  provided by Stephen Sinclair.
  <!-- at <a href="http://nonnegativ.com">Nonnegativ Solutions</a>. -->
  Please feel free
  to <a href="mailto:stephen.sinclair@nonnegativ.com">get in touch</a>
  for any inquiries.</p>


<!-- <div style="float:right;"> -->
<!--   <a href="http://nonnegativ.com"> -->
<!--     <img width="200" src="{{ url_for('static', filename='nng-logo.png') }}"/> -->
<!--   </a> -->
<!-- </div> -->

{% endblock %}
