{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" rel="stylesheet">
  
{% endblock %}


{% block app_content %}
    <h1>Result: {{ result['title'] }}</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <table class="table table-hover" style="border:solid 1px white;">
      <tr>
        <th>Dataset</th>
        {% for c in result['config']['dataset'] %}
        <th>{{ c }}</th>
        {% endfor %}
      </tr>
      <tr style="border-bottom:dashed 1px grey;">
        <td></td>
        {% for c in result['config']['dataset'] %}
        <td>{{ result['config']['dataset'][c] }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th>Model</th>
        {% for c in result['config']['model'] %}
        <th>{{ c }}</th>
        {% endfor %}
      </tr>
      <tr style="border-bottom:dashed 1px grey;">
        <td></td>
        {% for c in result['config']['model'] %}
        {% if c=='shape' %}
        <td>filters={{ result['config']['model'][c]['filters'] }}</td>
        {% else %}
        <td>{{ result['config']['model'][c] }}</td>
        {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <th>Training</th>
        {% for c in result['config']['training'] %}
        <th>{{ c }}</th>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        {% for c in result['config']['training'] %}
        <td>{{ result['config']['training'][c] }}</td>
        {% endfor %}
      </tr>
    </table>

    <div style="display:table-cell;"><h3>Latent Parameters</h3>
      {% for p in range(latent_dim) %}
      <p><input class="latent" id="latent{{p}}" data-provide="slider" data-slider-id="slider{{p}}" type="text" data-slider-min="{{latent_min}}" data-slider-max="{{latent_max}}" data-slider-step="0.01" data-slider-value="0"/></p>
      {% endfor %}
      Sliding these triggers a request to the model evaluation
      microservice running on AWS Lambda.  The TensorFlow model is evaluated and the new
      results are immediately displayed.
    </div>
    <div style="display:table-cell;width:100%;padding-left:2em;"><h3>Decoder output</h3>
    <div id="plot"><div id="plotloading"><i>Loading plot..</i></div></div> <!-- style="border:solid 1px white;width:100%;height:300px"></div> -->
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamicplot.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      dynplot = new DynamicPlot('#plot', '#plotloading', '.latent',
                                {{data_dim}}, "{{decode_url}}");
    });
    </script>
{% endblock %}
