{% extends "base.html" %}

{% block app_content %}
    <h1>All Results for {{ _('%(username)s', username=current_user.username) }}</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    <p>The following table contains an entry for each GAN training
      result that may be viewed, along with a tab.  When the tab is
      opened, the latest visual summary is retrieved from the Django
      microservice's JSON API and displayed immediately below.</p>
    <p>Click on <b>View/Interact</b> for a detailed and interactive
      view of the associated model running on the microservice.</p>

    {% for result in results %}
        {% include '_result.html' %}
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
      function toggle_result(x) {
        var t = $('#'+x+'-toggle');
        var c = $('#'+x+'-content');
        if (t.text()=='◢') {
          t.text('▶');
          c.text('');
        } else {
          t.text('◢');
          var u = $('#'+x+'-latest-plot').text();
          var now = Math.floor(Date.now()/10000);
          var i = '<img id="img_'+x+'" src="' + u + '?time=' + now + '" style="width:100%;"/>';
          c.html('Current status: <a href="#" onclick="refresh_image(\''+x+'\',\''+u+'\');">'+
                 '[refresh]</a><br/>' + i);
        }
      }
      function refresh_image(x,u) {
        var now = Math.floor(Date.now()/10000);
        u = u + '?time=' + now;
        console.log('refreshing image to ', u);
        $('#img_'+x).attr('src', u);
        return false;
      }
      $("table tr td span a").click(function(e) {
        e.stopPropagation();
      });
    </script>
{% endblock %}
